@import "_import.scss";
html{
    scroll-behavior: smooth;
}
header{
    section{
        background: {
            image: url(../img/banner.png);
            attachment: fixed;
            repeat: no-repeat;
            size: contain;
        }
        width: 100% !important;
        img{
            position: relative;
            width: 100%;
            z-index: -1;
        }
    }
}
nav{
    position: sticky !important;
    top: 0% !important;
    left: 0% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, $negro, darken($negro,5));
    padding: 0 !important;
    img{
        transition: all 200ms;
        height: 15vh;
    }
    .offcanvas{
        background-color: $negro;
        color: white;
        ul{
            display: flex;
            list-style-type: none;
            li{
                margin-right: .75rem;
                a{
                    color: white;
                    text-decoration: none;
                    padding: .5rem .75rem;
                    transition: all 200ms;
                    border-radius: 50px;
                    font-weight: bold;
                    border: 2px transparent solid;
                    &:hover{
                        border: $rojo 2px solid;
                    }
                }
                .clicked{
                    background: linear-gradient(to bottom, $rojo, darken($rojo,10));
                    // background-color: $rojo;
                    border-radius: 50px;
                    transition: all 200ms;
                    border: $rojo 2px solid;
                    &:hover{
                        // background-color: linear-gradient(to bottom, lighten($rojo,5), lighten($rojo,5));
                        background: transparent;
                        border: $rojo 2px solid;
                    }
                }
            }
        }
    }
}
main{
    & > section{
        min-height: 100vh;
    }
    #about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: $blanco;
        height: 90vh !important;
        span{
            @include titulos();
            color: $negro;
            margin-top: 7rem;
        }
        & > div{
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width:767px) {
                flex-direction: column;
            }
            width: 100%;
            padding: .5rem 2rem;
            img{
                position: relative;
                bottom: -1.5rem;
                @media screen and (max-width:1023px) {
                    bottom: -3rem;
                }
                @media screen and (max-width:767px) {
                    order: 2;
                    bottom: -1rem;
                    margin: 0%;
                    height: 18rem;
                }
                @media screen and (max-width:424px) {
                    height: 15rem;
                }
                z-index: 1;
                height: 22rem;
                margin-right: 5rem;
            }
            p{
                text-align: justify;
                width: 500px;
                font-size: 1.5rem;
                @media screen and (max-width:1023px) {
                    font-size: 1.3rem;
                }
                @media screen and (max-width:767px) {
                    order: 1;
                    font-size: 1rem;
                    width: 80%;
                }
            }
        }
        #semi-circle{
            position: relative;
            z-index: 2;
            height: 20vh;
            width: 100%;
            background-color: darken($rojo,5);
            border-top-left-radius: 100%;
            border-top-right-radius: 100%;
        }
    }
    #servicios{
        background-color: darken($rojo,5);
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            @include titulos();
            color: white;
            margin-top: 6rem;
            @media screen and (max-width:1023px) {
                margin-top: 0;
            }
            @media screen and (max-width:767px) {
                font-size: 3rem;
                margin-top: 6.5rem;
            }
        }
        & > div{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            @media screen and (max-width:1023px) {
                flex-direction: column !important;
            }
            img{
                height: 20rem;
                @media screen and (max-width:424px) {
                    height: 15rem;
                }
            }
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                @media screen and (max-width:1023px) {
                    width: 100%;
                }
                p{
                    width: 70%;
                }
                & p:first-of-type{
                    font-size: 6rem;
                    font-weight: bold;
                    font-family: $titulo !important;
                    color: white;
                    font-size: 2rem;
                    font-weight: 400;
                    font-style: italic;
                    letter-spacing: 1px;
                    @media screen and (max-width:424px) {
                        font-size: 1.3rem;
                    }
                }
                & p:last-of-type{
                    color: white;
                    font-size: 1.5rem;
                    @media screen and (max-width:424px) {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
    #contactanos{
        background-color: $blanco;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        @media screen and (max-width:767px) {
            min-height: 80vh !important;
        }
        span{
            @include titulos();
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            list-style-type: none;
            padding: 0%;
            li{
                margin-right: 2rem;
                img{
                    cursor: pointer;
                }
                img{
                    transition: all 200ms;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
            & li:first-of-type{
                p{
                    position: relative;
                    margin: 0%;
                    &:hover .tool{
                        transform: scale(1);
                    }
                    img{
                        height: 4rem;
                    }
                    .tool{
                        text-align: center;
                        display: inline-block;
                        position: absolute;
                        top: -7rem;
                        left: -4rem;
                        transition: all 200ms;
                        transform: scale(0);
                        color: $rojo;
                        font-weight: bold;
                        letter-spacing: 1px;
                        font-size: 1.4rem;
                        width: 200px;
                    }
                }
            }
            & li:last-of-type{
                margin-right: none !important;
            }
        }
    }
}
footer{
    background-color: $negro;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $blanco;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 1.2rem;
    @media screen and (max-width: 767px) {
        font-size: 1rem;
    }
    @media screen and (max-width: 424px) {
        font-size: .9rem;               
    }
    p{
        margin: 0%;
        padding: 0%;
    }
    a{
        font-weight: bold;
        text-decoration: none;
        color: $blanco;
        transition: all 200ms;
        font-size: 1.5rem;
        @media screen and (max-width: 424px) {
            font-size: 1rem;               
        }
    }
}